PGN_PATH=data/raw/pgn/lichess_db_standard_rated_2026-05.pgn
POSITIONS_OUT=data/processed/possitions
SF18_EVALS_OUT=data/processed/sf18_evals
SF11_PATH=stockfish-11-mac/src/stockfish
SF18_PATH=stockfish-18/src/stockfish
WORKERS=6